<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="News Display">
    <title>News Posts</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='news.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container-fluid">
    <header class="blog-header py-3"></header>

    <div class="jumbotron jumbotron-fluid p-3 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Top News Posts</h1>
        <i class="lead my-3">{{ timenow}}</i>
      </div>
    </div>
  </div>

  <div class="container">

    {% for article in articles %}
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <img src="{{ article.urlToImage }}" class="col-md-4 card-img-right" alt="Thumbnail">
          <div class="col-md-8 card-body d-flex flex-column align-items-start">
            <a href="{{ article.url }}" target="_blank" class="text-decoration-none">
              <h3 class="mb-0 text-dark">
                {{ article.title }}
              </h3>
              <div class="mb-1 text-muted">
                {{ article.publishedAt}}
              </div>
              <p class="card-text mb-auto text-dark">
                {{ article.description }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <header class="blog-header py-3"></header>
  </div>

  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <a class="text-left text-dark text-decoration-none" href="https://newsapi.org" target="_blank">Powered by NewsAPI.org</a>
      <a class="text-right text-dark text-decoration-none" href="#">Back to top</a>
    </div>
  </nav>

<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

</body></html>